<div class="container-fluid conteudo">
    <h1 class="h1-editar-perfil">
        Editar Perfil
    </h1>

    <div class="row align-items-center">
        <div class="col-sm-6 campos">
            <label class="from-label" for="inputNome">Alterar Nome</label>
            <input class="form-control" type="text" maxlength="100" id="inputNome" placeholder="Insira o nome"/>
        </div>
        <div class="col-sm-6 campos">
            <label class="from-label" for="inputSobreMim">Alterar Sobre Mim</label>
            <input class="form-control" type="text" maxlength="15" id="inputSobreMim" placeholder="Insira o Sobre Mim"/>
        </div>
        <div class="col-sm-6 campos">
            <label class="from-label" for="inputTelefone">Alterar Telefone</label>
            <input class="form-control" type="text" maxlength="100" id="inputTelefone" placeholder="Insira o Telefone"/>
        </div>
        <div class="col-sm-6 campos">
            <label class="from-label" for="inputLocalidade">Alterar Localidade</label>
            <input class="form-control" type="text" maxlength="100" id="inputLocalidade" placeholder="Insira o E-mail"/>
        </div>
        <div class="col-sm-6 campos">
            <label class="from-label" for="inputEmail">Alterar E-mail</label>
            <input class="form-control" type="text" maxlength="100" id="inputEmail" placeholder="Insira a Localidade"/>
        </div>
        <div class="col-sm-6 campos alinhar botao">
            <a class="text-center botao" href="/perfil2">
                Salvar
            </a>
        </div>
    </div>
</div>

<style>
    .conteudo {
		min-height: 80vh;
		background-color: #f0f5fa;
		color: white;
        background-image: url(/public/img/fundo.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

    .h1-editar-perfil {
        text-align: center;
        padding: 15px;
    }

    .campos {
        padding: 10px;
        max-width: 500px;
        margin: auto;
    }

    .botao {
        max-width: 500px;
        margin: auto;
    }

    .alinhar{
        text-align: center;
    }

    .botao {
        display: inline-block;
		background-color: blue;
		font-size: 16px;
		font-weight: bold;
		color: white;
		
		border-radius: 99999px;
		text-decoration: none;
        
    }
</style>