<style>
.conteudo {
	background-image: url(/public/img/FundoEquipe.jpg);
    color:white;        
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    min-height: 80vh;
}

.form-group {
    display: flex;
    flex-direction: column; /* Faz o label ficar em cima do input/select */
}

.categoria-data {
    padding: 8px;
    background: white;
    width: 100%; /* ocupa toda a largura disponível */
}

.rows-criar-evento {
    margin: 0px 3px;
}

.h1-criar-evento {
    margin: 50px 0px 50px;
    text-align: center;
}

.botao-criar-evento {
    margin: 20px 0px 0px;
}

.cor-simplex{
    color: rgb(25, 134, 223);
}

</style>

<div class="container-fluid conteudo">

    <h1 class="h1-criar-evento">
        Edite o seu evento
    </h1>

    <div class="row rows-criar-evento">
        <div class="col-sm-4">
            <div class="mb-3">
                <label class="from-label" for="inputNome">Nome</label>
                <input class="form-control" type="text" maxlength="100" id="inputNome" placeholder="Insira o nome do evento"/>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mb-3">
                <label class="from-label" for="inputDescricao">Descrição</label>
                <input class="form-control" type="text" maxlength="100" id="inputDescricao" placeholder="Insira uma descrição para o evento"/>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mb-3">
                <label class="from-label" for="inputEndereco">Endereço</label>
                <input class="form-control" type="text" maxlength="100" id="inputEndereco" placeholder="Insira o local do evento"/>
            </div>
        </div>
    </div>

    <div class="row rows-criar-evento">
        <div class="col-sm-4">
            <div class="mb-3">
                <label class="from-label" for="inputValor">Valor do ingresso</label>
                <input class="form-control" type="text" maxlength="100" id="inputValor" placeholder="Insira o valor do ingresso"/>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mb-3">
                <label class="from-label" for="inputCapacidade">Capacidade de pessoas no evento</label>
                <input class="form-control" type="text" maxlength="100" id="inputCapacidade" placeholder="Insira a capacidade do evento"/>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mb-3">
                <label class="from-label form-group" for="inputData">Data e hora do evento:</label>
                <input class="categoria-data form-control" type="datetime-local" id="inputData" placeholder="Insira data e horário do evento">
            </div>
        </div>
    </div>

    <div class="row rows-criar-evento">
        
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <label class="from-label form-group" for="inputCategoria">Categoria</label>
                <select class="categoria-data" id="inputCategoria">
                    <option value="">Selecione...</option>
					<option value="Aniversario">Aniversário</option>
					<option value="Casamento">Casamento</option>
					<option value="Formatura">Formatura</option>
                    <option value="Coorporativo">Coorporativo</option>
					<option value="Reuniao">Reunião</option>
					<option value="Casual">Casual</option>
					<option value="Cultural">Cultural</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
        
    </div>

    <div class="text-center botao-criar-evento">
        <button type="button" class="btn btn-primary" onclick="criarEvento()">Salvar evento</button>
    </div>

</div>
