<div class="container-fluid conteudo">
    <div class="margem-titulo">
        <h1 class="color alinhar">
            Meu Perfil
        </h1>
        <p class="color alinhar">
            Gerencie suas informações e eventos
        </p>
    </div>

    <div class="row justify-content-center">
        
        <div class="col-sm-8 fundo-info-perfil borda">
            <div class="padding-info-perfil">
                <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXZhdGFyfGVufDB8fDB8fHww&fm=jpg&q=60&w=3000"
                class="img-fluid rounded-circle" 
                style="width: 150px; height: 150px; object-fit: cover; margin-top: 20px;">
                <h1>
                    Nome do usuário
                </h1>

                <h5>
                    Sobre mim
                </h5>

                <p>
                    <i>"Organizador de eventos apaixonado por tecnologia e design. Conectando pessoas através de experiências memoráveis."</i>
                </p>
                
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            📞 +55 (92) 98108-1500
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            📧 usuario@gmail.com
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p class="info-perfil">
                            📍 Manaus, Amazonas
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="info-perfil">
                            📆 Eventos criados: 2
                        </p>
                    </div>
                </div>
                <p class="info-perfil">
                    👤 Membro desde: 30/06/2025
                </p>

                <a href="/editarperfil" class="btn btn-primary info-perfil" style="margin:20px;">
                    Editar perfil
                </a>
                <a herf="/logout" class="btn btn-outline-secondary info-perfil" style="margin: 20px;">
                    Sair da conta
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="margem-titulo">
            <h1 class="color alinhar">
                Meus eventos
            </h1>

            <p class="color alinhar">
                Eventos que criou ou está participando
            </p>
        </div>

        <div class="row row-eventos">
            <div class="col-sm-6 alinhar fundo-eventos espacador-coluna">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <img src="https://images.pexels.com/photos/2608517/pexels-photo-2608517.jpeg?auto=compress&cs=tinysrgb&w=600"
                         class="img-fluid borda">
                    </div>
                    <div class="col-sm-6 eventos-info">
                        <h4>
                            Marketing Digital
                        </h4>
                        <p>
                            Data: 30/12/2025
                        </p>
                        <p>
                            Local: Centro de Convenções
                        </p>
                        <p>
                            Inscritos: 0/200
                        </p>
                        <p>
                            Status: <span style="color: #ffc107;">Rascunho</span>
                        </p>

                        <a href="/editarevento" class="btn btn-primary">
                            Continuar edição
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 alinhar fundo-eventos espacador-coluna">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <img src="https://tradetechnology.com.br/wp-content/uploads/2025/04/big-data-o-qu-e-para-que-serve-e-suas-aplicacoes.jpg"
                         class="img-fluid borda">
                    </div>
                    <div class="col-sm-6 eventos-info">
                        <h4>
                            Big Data nas empresas

                        </h4>
                        <p>
                            Data: 02/01/2026
                        </p>
                        <p>
                            Local: Teatro Castelo Branco
                        </p>
                        <p>
                            Inscritos: 175/200
                        </p>
                        <p>
                            Status: <span style="color: #28a745;">Inscrito</span>
                        </p>

                        <a href="/editarinscricao" class="btn btn-primary">
                            Gerenciar Inscrição
                        </a>
                    </div>
                </div>
            </div>

            
            
        </div>
        <div class="row row-eventos">
            <div class="col-sm-6 alinhar fundo-eventos espacador-coluna">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <img src="https://hermes.dio.me/articles/cover/eb2aa5b1-88c6-43a0-b2b7-8f1f00964d0d.jpg"
                         class="img-fluid borda">
                    </div>
                    <div class="col-sm-6 eventos-info">
                        <h4>
                            Ciência de dados nos negócios
                        </h4>
                        <p>
                            Data: 15/02/2026
                        </p>
                        <p>
                            Local: Auditório Paulista
                        </p>
                        <p>
                            Inscritos: 122/200
                        </p>
                        <p>
                            Status: <span style="color: #28a745;">Ativo</span>
                        </p>

                        <a href="/dashboard" class="btn btn-primary">
                            Gerenciar Evento
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 alinhar fundo-eventos espacador-coluna">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <img src="https://i0.wp.com/blog.portaleducacao.com.br/wp-content/uploads/2022/02/365-O-que-e%CC%81-tecnologia_.jpg?fit=740%2C416&ssl=1"
                         class="img-fluid borda">
                    </div>
                    <div class="col-sm-6 eventos-info">
                        <h4>
                            Conferência de Tecnologia
                        </h4>
                        <p>
                            Data: 08/12/2025
                        </p>
                        <p>
                            Local: Espaço Cidade Jardim
                        </p>
                        <p>
                            Inscritos: 150/200
                        </p>
                        <p>
                            Status: <span style="color: #28a745;">Ativo</span>
                        </p>

                        <a href="/dashboard" class="btn btn-primary">
                            Gerenciar Evento
                        </a>
                    </div>
                </div>
            </div>
    </div>
    
</div>

<style>
    .conteudo {
		min-height: 80vh;
		background-color: #f0f5fa;
		color: #212529;
        background-image: url(/public/img/fundo.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
    
	}

    .fundo-info-perfil {
        background-color: white;
        text-align: center;
    }

    .borda {
        border-radius: 20px;
		border-color: #dee2e6;
		border-style: solid;
        border-width: 1px;
    }

    .color {
        color: white
    }

    .alinhar {
        text-align: center;
    }

    .margem-titulo {
        padding: 50px;
    }

    .fundo-eventos {
        background-color: white;
        max-width: 500px;
        margin:auto;
        border-radius: 20px;
		border-color: #dee2e6;
		border-style: solid;
        border-width: 1px;
    }

    .espacador-coluna{
	padding: 12px;
	min-height: 100%;
     
	}

    .row-eventos {
        padding: 15px;
    }

    .eventos-info {
        text-align: left;
        padding: 15px;
    }

    .info-perfil {
        padding: 10px;
    }

</style>