<div class="img-fundo">
    <h1 class="titulo"> Nossa Equipe</h1>
<div class="container">

    <!-- Coluna 1 -->
    <div class="coluna card-sobre">
      <div class="nome">João Vitor Yazbek</div>
      <img src="/public/img/joao.jpg" alt="João" class="imagem">
      <a class="botao" href="https://www.linkedin.com/in/jo%C3%A3o-vitor-yazbek-106441351/" target="_blank">
        LinkedIn
      </a>
    </div>
     <div class="coluna card-sobre">
      <div class="nome">Ícaro Dias Marculino</div>
      <img src="/public/img/Icaro.jpg" alt="Icaro" class="imagem">
      <a class="botao" href="https://www.linkedin.com/in/icaro-dias-046686339/" target="_blank">
        LinkedIn
      </a>
    </div>
    <div class="coluna card-sobre">
      <div class="nome">Luccas Garcia Toffano</div>
      <img src="/public/img/Tofano.jpg" alt="Luccas" class="imagem">
      <a class="botao" href="https://www.linkedin.com/in/luccas-toffano-694952350/" target="_blank">
        LinkedIn
      </a>
    </div>
    <div class="coluna card-sobre">
      <div class="nome">Ricardo José de Matteo Filho</div>
      <img src="/public/img/Ricard0.jpeg" alt="Ricardo" class="imagem">
      <a class="botao" href="https://www.linkedin.com/in/ricardo-m-0b9665307/" target="_blank">
        LinkedIn
      </a>
    </div> 
    <div class="coluna card-sobre">
        <div class="nome">Kayla Abreu</div>
        <img src="/public/img/Kayla.jpg" alt="Kayla" class="imagem">
        <a class="botao" href="https://www.linkedin.com/in/kayla-abreu-573599353/" target="_blank">
            LinkedIn
        </a>
    </div>
    <div class="coluna card-sobre">
      <div class="nome">Gustavo Carvalho Lopes</div>
      <img src="/public/img/Gustavo.jpeg" alt="Gustavo" class="imagem">
      <a class="botao" href="https://www.linkedin.com/in/gustavo-carvalho-b80371351/" target="_blank">
        LinkedIn
      </a>
    </div>

    <h1 class="centro">Motivação</h1>

    <p class="centro">
      A motivação para criar a Simplex surgiu a partir de uma pesquisa realizada na disciplina de Estatística, na qual analisamos o interesse das pessoas em organizar eventos. Dos participantes, 86,5% afirmaram ter interesse em realizar eventos, e esse número se conecta diretamente com outro dado importante: 89,6% disseram que gostariam de um aplicativo específico para criação e organização desses eventos.
      Ao analisar as escalas avaliadas, percebemos que o interesse é claramente elevado. No nível de interesse em criar eventos, a maior parte dos participantes concentrou suas respostas nas notas mais altas, com 68,8% escolhendo 4 ou 5, enquanto apenas 2,1% marcaram 1. Quando avaliamos o quanto um aplicativo ajudaria nesse processo, o comportamento se repetiu: 76,1% atribuíram nota 4 ou 5, mostrando que a maioria enxerga real utilidade em uma ferramenta voltada para facilitar a criação e a organização de eventos.
    </p>
    <p class="centro">
      Esses resultados mostraram claramente uma oportunidade: existe demanda, existe interesse e existe uma dificuldade atual em organizar eventos de forma simples. Por isso, decidimos desenvolver a Simplex, uma plataforma pensada justamente para atender essa necessidade identificada nos dados, conectando pessoas, facilitando a criação de eventos e tornando todo o processo mais acessível.
    </p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="public\img\Interesse_Eventos.png" class="card-img-top" alt="Gráfico 1">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="public\img\Gostaria_App.png" class="card-img-top" alt="Gráfico 2">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="public\img\Interesse_Criar.png" class="card-img-top" alt="Gráfico 3">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="public\img\Quanto_Ajudaria.png" class="card-img-top" alt="Gráfico 4">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>


    <%- contentFor("espaco-head") %>
<style>

    .img-fundo {
		min-height: 80vh;
		background-image: url(/public/img/FundoEquipe.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
    max-width: 100%;
	}
    
    .titulo{
      text-align: center;
      font-size: 40px;
      padding-top: 55px;
      color: white;
    }

    .espacador-coluna {
	padding: 12px;
}

    .coluna{
flex: 1 1 calc(33.333% - 20px);  
      background-color: #f0f0f0;
      border-radius: 10px;
      padding: 15px;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .card-sobre:hover {
      transform: translateY(-5px);
    }
    
    .botao{
            text-decoration: none;
        display: inline-block;
        background-color: black;
        font-size: 15px;
        font-weight: bold;
        padding: 15px 25px;
        border-radius: 9999px;
        margin: 20px;
        background-position: bottom;
    }
    .imagem{
        border-radius: 100px;
        size: 50px;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      padding: 20px;
      margin-bottom: 10px; 
    }
    .imagem {
      width: 100px;
      height: 100px;
      border-radius: 50%; 
      object-fit: cover;
      margin-bottom: 10px;
    }
    .botao {
      display: inline-block;
      background-color: #0077b5; /* cor do LinkedIn */
      color: white;
      padding: 8px 15px;
      border-radius: 6px;
      text-decoration: none;
      transition: background 0.3s;
    }
    .nome {
      font-weight: bold;
      margin-bottom: 8px;
    }

    .centro{
      text-align: center;
      color: white;
    }

</style>