<div class="fundo">
    <t class="titulo"> Sobre a Equipe</t>
    <div class="col-sm-6 col-md-4 espacador-coluna" >
    <div class="colunas">
        João Vitor Yazbek
        <div class="">

        </div>
        
    </div> 
</div>
</div>



    

<%- contentFor("espaco-head") %>
<style>
    .titulo{
        color: rgb(41,137,216);
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;

        

    
    }
    .fundo{
        background-image: url(http://static.vecteezy.com/system/resources/previews/007/278/150/non_2x/dark-background-abstract-with-light-effect-vector.jpg);
        background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
        min-height: 80vh;
    }
    .espacador-coluna {
	padding: 12px;
}
    .colunas{
        font-size: 25px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        background-color: blue;
        background-size: 150px;

    }
        
    
</style>