<div class="fundo">
    <t class="titulo"> Sobre a Equipe</t>
    <div class="col-sm-6 col-md-4 espacador-coluna" >
    <div class="colunas">
        João Vitor Yazbek
        <div class="">
            <a class="botao" href="https://www.linkedin.com/in/jo%C3%A3o-vitor-yazbek-106441351/">
                linkedin
            </a>
            <img src="/public/img/joao.jpg" alt="João" class="imagem">

        </div>
    </div> 
</div>
<div class="col-sm-6 col-md-4 espacador-coluna" >
    <div class="colunas">
        Ícaro Dias Marcolino
        <div class="">
            <a class="botao" href="https://www.linkedin.com/in/icaro-dias-046686339/">
                linkedin
            </a>
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQFKfIe4hSPC3g/profile-displayphoto-scale_200_200/B4DZjnDke3IEAc-/0/1756223130300?e=1763596800&v=beta&t=Pbo7d2KVdKqVpAqA4yNvsZUS7DO6HXDQuRO2PZguSWY" alt="Ícaro" class="imagem">

        </div>
    </div> 
</div>
<div class="col-sm-6 col-md-4 espacador-coluna" >
    <div class="colunas">
        Luccas Tofano
        <div class="">
            <a class="botao" href="https://www.linkedin.com/in/luccas-toffano-694952350/">
                linkedin
            </a>
            <img src="/public/img/Tofano.jpg" alt="João" class="imagem">
        </div>
        
    </div> 
    <div class="col-sm-6 col-md-4 espacador-coluna" >
    <div class="colunas">
        Gustavo Lopez
        <div class="">
            <a class="botao" href="https://www.linkedin.com/in/gustavo-carvalho-b80371351/">
                linkedin
            </a>
            <img src="/public/img/Gustavo.jpeg" alt="João" class="imagem">

        </div>
    </div> 
</div>
<div class="col-sm-6 col-md-4 espacador-coluna" >
    <div class="colunas">
        Ricardo de Mateo
        <div class="">
            <a class="botao" href="https://www.linkedin.com/in/ricardo-m-0b9665307/">
                linkedin
            </a>
            <img src="/public/img/Ricardo.jpeg" alt="João" class="imagem">

        </div>
    </div>
   

<%- contentFor("espaco-head") %>
<style>
    .titulo{
        color: rgb(41,137,216);
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .fundo{
        background-image: url(http://static.vecteezy.com/system/resources/previews/007/278/150/non_2x/dark-background-abstract-with-light-effect-vector.jpg);
        background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
        min-height: 80vh;
    }
    .espacador-coluna {
	padding: 12px;
}
    .colunas{
        font-size: 25px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        background-color: blue;
        background-size: 150px;
    
    }
    .botao{
            text-decoration: none;
        display: inline-block;
        background-color: black;
        font-size: 15px;
        font-weight: bold;
        padding: 15px 25px;
        border-radius: 9999px;
        margin: 20px;
        background-position: bottom;
    }
    .imagem{
        border-radius: 100px;
        size: 50px;
    }
    
</style>